/*******************
BODY AND MAIN WRAP
*******************/
body {
	font-size:1em;
	margin:0 0;
	padding:0 0;
}

#border {
	border: solid 35px #ffb6b1;
	margin:0 0;
	padding:0 0;
}

#content {
	max-width:100%;
	position:relative;
	z-index:320;
}



/*******************
DEFAULT SETTINGS
*******************/
h1 {
	font-family: 'Noto Serif', serif;
	font-size:3.75em;
	color:#303946;
	font-weight:300;
	margin:0 0;

}

h2 {
	font-family: 'Noto Serif', serif;
	font-weight:300;
	font-size:1.4em;
	color:#303956;
	margin:0 0;
}

.hero p {
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:0.65em;
	color:#ffffff;
	margin:0 0;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.footer p {
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:0.65em;
	color:#ffffff;
	margin:0 0;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

span {
	font-family: 'Noto Serif', serif;
	font-weight:300;
	font-size:0.65em;
	color:#303946;
	margin:0 0;
	letter-spacing: 0.4px;
}

a {
	color:#303946;
	font-style:underline;
}

a:hover {
	opacity:0.5;
	-webkit-transition: all,0.2s,ease;
    -moz-transition: all,0.2s,ease;
    transition: all,0.2s,ease;
}


/*******************
HERO ELEMENTS
*******************/

.hero {
	margin-left: 10%;
    margin-right: 10%;
    margin-top: 320px;
}

.hero_text {
	display:inline-block;
	margin-left:6%;
	width:75%;
}

.hero_subtitle {
	display:inline-block;
	width:100%;
	margin-top:16px;
}

.hero_workingat {
	display:inline-block;
	vertical-align: top;
	background-color: #303946;
    padding: 1px 1px;
    margin-top:10px;

}

.hero_dribbble {
	display:inline-block;
	margin-left:19%;
	width:42%;
	margin-right: 10%;

}

.hero_update {
    display: inline-block;
    margin-left: 89%;
    margin-top: 100px;
    width: 9%
}

.risco {
	position:absolute;
	top:440px;
	left:-20px;
	z-index:1;
}

.since {
	position:absolute;
	top:200px;
	right: 400px;
	z-index:-1
}

.square {
	position:fixed;
	top:110px;
	right:110px;
	z-index:320;
}

/*******************
IMAGES WRAPPER
*******************/

#wrapper {
	display:inline-block;
	width:70%;
	margin-left:15%;
	margin-top:300px;
}

.project img {
	max-width:100%;
}

.project {
	margin-top:180px;
}

.project:first-child {
	margin-top:0;
}

.project h2 {
	padding-top: 10px;
    width: 70%;
}

.img_size_full {
	width:100%;
	margin-top:50px;
	display:inline-block;;
}

.img_size_half {
	width:47.5%;
	margin-top:50px;
	display:inline-block;
}

.img_space {
	margin-left:4.5%;
}

.footer {
	width:40%;
	margin-top:430px;
	display:inline-block;
	margin-bottom:390px;
}

.mail {
	padding-bottom:30px;
}

/*******************
MEDIA 1440
*******************/

@media screen and (max-width: 1500px) {
 
h1 {
	font-size: 3.3em;
}

.footer h1 {
	line-height: 1.2;
}

h2 {
	font-size: 1.2em;
	line-height: 1.5;
}

.hero {
	margin-top: 180px;
}

#wrapper {
	margin-top:150px;
}

.hero_update {
	margin-left:90%;
	margin-top:45px;
}

.img_size_full {
	margin-top: 40px;
}

.img_size_half {
	margin-top:38px;
}

.footer {
	margin-bottom:210px;
	margin-top:240px;
}

.risco {
	top: 400px;
    left: -55px;
}

.since {
	top:150px;
}

}

/*******************
MEDIA 1200
*******************/

@media screen and (max-width: 1220px) {

.img_space {
	margin-left:4.2%;
}

.hero_text {
	width:87%;
}

.hero_dribbble {
	margin-left:10%;
}

.hero_update {
	width:12%;
}

h1 {
	font-size:3em;

}

h2 {
	font-size:1em;
}

.footer {
	margin-top:200px;
	width:44%;
}

}

/*******************
MEDIA 960
*******************/

@media screen and (max-width: 960px) {

h1 {
	font-size:2.6em;
}

.since {
	display:none;
}

.hero_update {
	display: none;
}

.img_size_full {
	margin-top:30px;
}

.img_size_half {
	margin-top:28px;
}

.project h2 {
	width:100%;
}

.footer {
	width:60%;
}

.hero_dribbble {
	margin-left:5%;
	margin-right:0%;
	width:58%;
}

.square {
	top:74px;
	right:74px;
}

}

/*******************
MEDIA 840
*******************/

@media screen and (max-width: 840px) {
.hero {
    margin-left: 2%;
    margin-right: 2%;
}

.risco {
	display:none;
}

.hero_subtitle {
    width: 87%;
    margin-left: 6%;
}

.hero_workingat {
	margin-right:10%;
}

.hero_dribbble {
	margin-left:0%;
	margin-top:15px;
	width:100%;
}

#wrapper {
	width: 84%;
    margin-left: 8%;
}

.square {
	display:none;
}

}

/*******************
MEDIA 640
*******************/

@media screen and (max-width: 675px) {

.img_space {
	margin-left:0%;
}

.img_size_half {
	width:100%;
}

.hero_dribbble {
	width:100%;
}

}

/*******************
MEDIA 570
*******************/

@media screen and (max-width: 570px) {

h1 {
	font-size:2em;

}

#border {
	border:solid 25px #ffb6b1;
}

.hero {
	margin-top:100px;
}

.hero_dribbble {
	width:100%;
}

.footer {
	margin-top:120px;
	margin-bottom:150px;
}
}

/*******************
MEDIA 420
*******************/

@media screen and (max-width: 440px) {

h1 {
	font-size:1.6em;
}

.hero_dribbble {
	width:100%;
}

.footer {
	width:70%;
}


}