

/* Fade in on Page load
/--------------------------------------------------------------
--------------------------------------------------------------*/

@-webkit-keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fadeOut {
  opacity:1;
  -moz-animation   : fadin 1s ease;
  -webkit-animation: fadeout 1s ease;
  animation        : fadeout 1s ease;
}



/* Standard Classes
/--------------------------------------------------------------
--------------------------------------------------------------*/

body {
	font-size:1em;
	font-family:"Karla", sans-serif;
	margin:0 0;
	padding:0 0;
}

/*div {
	display:inline-block;
}
*/

img {
	max-width:100%;
}

h2 {
	font-size:0.8125em;
	font-weight:400;
	letter-spacing:0px;
	color:#979797;
	margin:0 0;
	padding:0 0;
	line-height: 22px;
}

h3 {
	font-size:0.8125em;
	font-weight:400;
	letter-spacing:0px;
	color:#979797;
	margin:0 0;
	padding:0 0;
}

h5 {
	font-size:0.875em;
	font-weight:700;
	letter-spacing:0px;
	color:#0f0f0f;
	margin:0 0;
	padding:0 0;
}

a {
	text-decoration: none;
	color:#979797;
	transition: all .15s linear;
	opacity: 1;
}

h3 a:hover {
	opacity: 0.5;
}

#main-container {
	display:inline-block;
	width:72%;
	margin-left:14%;
	max-width:1371px;
}

.big-space {
	margin-bottom:75px;
}








/* Default elements
/--------------------------------------------------------------
--------------------------------------------------------------*/

/*image thumbnails*/
.img-thumb {
	transition: all .35s ease-in-out;
}

/*.big {
	width:860px;
	height: 613px;
}

.small {
	width:593px;
	height: 398px;
}
*/


.img-thumb:hover {
    /*box-shadow: 0px 16px 30px #f5f5f5;*/
    cursor: pointer;
    transform: translate(0px, -15px);
    z-index:-1px;
    /*transform: scale(1.025)*/
}

/*project name and caption*/
.caption:hover {
	cursor:pointer;
}








/* Logo
/--------------------------------------------------------------
--------------------------------------------------------------*/


#logo {
	top:190px;
	position: fixed;
	z-index: -1;
	width:80px;
}








/* Project 1: Local Fav
/--------------------------------------------------------------
--------------------------------------------------------------*/

#localfav-project {
    float:right;
    display:block;
    z-index:-1;
    margin-top:350px;
    width: 63%;
}









/* Project 2: Illustration
/--------------------------------------------------------------
--------------------------------------------------------------*/

#illu-project {
    float:left;
    display:block;
    z-index:4;
   	margin-left: 6.5%;
   	position: relative;
   	margin-top:-110px;
   	width:43%;
}








/* Project 3: Flame Project
/--------------------------------------------------------------
--------------------------------------------------------------*/

#flame-project {
    float:left;
    display:block;
    margin-top: 90px;
    width:44.5%;
}








/* Project 4: Magnetis Project
/--------------------------------------------------------------
--------------------------------------------------------------*/

#magnetis-project {
    float:left;
    display:block;
    margin-top:100px;
    width:43.5%;
    margin-left:6.5%;
}








/* Project 5: Miscelanious
/--------------------------------------------------------------
--------------------------------------------------------------*/

#misc-project {
    float:right;
    display:block;
    margin-top: 370px;
    width:43.5%;
}








/* Project 6: Babylon
/--------------------------------------------------------------
--------------------------------------------------------------*/

#babylon-project {
    float:right;
    display:block;
    margin-top:86px;
    width:43.2%;
}







/* Project 7: Debike
/--------------------------------------------------------------
--------------------------------------------------------------*/

#debike-project {
    float:right;
    display:block;
    margin-top:-120px;
    width:43.5%;
}







/* Footer
--------------------------------------------------------------
--------------------------------------------------------------*/

#footer {
	width:100%;
	background-color:#f5f5f5;
	height:542px;
	margin-top: 230px;
}

#footer-content {
	display:inline-block;
	width:72%;
	margin-left:14%;
	margin-top: 55px;
}

#footer-bio{
	display: block;
	margin-top: 55px;
	width: 415px;
}

#footer-text1 {
	display: block;
	margin-top: 75px;
}

#footer-text2 {
	margin-top:75px;
}

#footer h5 {
	margin-bottom:13px;
}









/*--------------------------------------------------------------
--------------------------------------------------------------*/
/* MEDIA QUERIES
--------------------------------------------------------------
--------------------------------------------------------------*/


/* Desktop Queries
--------------------------------------------------------------
--------------------------------------------------------------*/



/* For Small Desktop */
@media (max-width: 1750px) {
#debike-project { margin-top:-102px;}

}




/* For Big Notebook */
@media (max-width: 1660px) {

#footer {margin-top:180px;}

#debike-project { margin-top:-105px;}
}



/* For Notebook 13" */
@media (max-width: 1550px) {

#main-container { width:86%; margin-left:7%;}

#footer {margin-top:160px; margin-top:100px; height:440px;}

#footer-content { width:86%; margin-left:7%; margin-top:25px; }

#footer-text1 {margin-top:55px;}

#footer-text2 {margin-top:57px;}

#logo { top:100px;}

#localfav-project { width:61%; margin-top:260px; }

#illu-project { width:44%; }

#flame-project { width:44.5%; margin-top:55px;}

#magnetis-project { width:44%; margin-top:66px; }

#misc-project { width:44.5%; margin-top:290px; }

#babylon-project { width:44%; margin-top:53px; }

#debike-project { width:44.5%; margin-top:-155px; }






/* Margin fixes between Desktop and Tablet
--------------------------------------------------------------
--------------------------------------------------------------*/

@media (max-width: 1500px) { #debike-project { margin-top:-146px;} }
@media (max-width: 1450px) { #debike-project { margin-top:-136px;} }
@media (max-width: 1400px) { #debike-project { margin-top:-110px;} }
@media (max-width: 1350px) { #debike-project { margin-top:-105px;} }
@media (max-width: 1300px) { #debike-project { margin-top:-100px;} }
@media (max-width: 1250px) { #debike-project { margin-top:-95px;} }
@media (max-width: 1200px) { #debike-project { margin-top:-90px;} }
@media (max-width: 1150px) { #debike-project { margin-top:-64px;} }
@media (max-width: 1100px) { #debike-project { margin-top:-58px;} }
@media (max-width: 1050px) { #debike-project { margin-top:-44px;} }








/* Tablet Queries
--------------------------------------------------------------
--------------------------------------------------------------*/
@media (max-width: 1024px) {

#logo {width:66px;}

#localfav-project {margin-top:200px;}

#flame-project {margin-top:42px;}

#magnetis-project {margin-top:42px;}

#misc-project {margin-top:204px;}

#babylon-project {margin-top:38px;}

#debike-project { margin-top:-88px;}

}






/* Margin fixes between Tablet and Mobile
--------------------------------------------------------------
--------------------------------------------------------------*/

@media (max-width: 950px) { #debike-project { margin-top:-76px;} }
@media (max-width: 900px) { #debike-project { margin-top:-62px;} }
@media (max-width: 850px) { #debike-project { margin-top:-53px;} }
@media (max-width: 820px) { #debike-project { margin-top:-44px;} }






/* Mobile Queries
--------------------------------------------------------------
--------------------------------------------------------------*/


/* For Big Smartphone */
@media (max-width: 790px) {

#main-container {width:76%; margin-left:12%;}
#footer-content {width:76%; margin-left:12%;}

#logo {width:90px; position:relative; top:0; margin-top:71px;}

#localfav-project {float:left; z-index:1; margin-top:72px; width:100%;}

#illu-project      {width: 100%;margin: 0; margin-top: 20px; z-index: 1; }
#flame-project     {width: 100%;margin: 0; margin-top: 20px; z-index: 1; }
#magnetis-project  {width: 100%;margin: 0; margin-top: 20px; z-index: 1; }
#misc-project      {width: 100%;margin: 0; margin-top: 20px; z-index: 1; }
#babylon-project   {width: 100%;margin: 0; margin-top: 20px; z-index: 1; }
#debike-project    {width: 100%;margin: 0; margin-top: 20px; z-index: 1; }

.img-thumb:hover {cursor: pointer; opacity:0.5; transform: translate(0px, -0px);}

}



/* For Big Tablet */
@media (max-width: 540px) {

#main-container {width:84%; margin-left:8%;}
#footer-content {width:84%; margin-left:8%;}

#logo {margin-top:36px; width:90px;}
#localfav-project {margin-top:37px;}

#footer-bio {width:100%; margin-top:15px;}
#footer {margin-top:38px;height:auto;}
#footer-text1 {margin-top:30px;}
#footer-text2 {margin-top:30px; margin-bottom:40px;}
#footer h5 {margin-bottom:6px;}

}



@media (max-width: 440px) {
#logo {width: 90px;}
}