/* Fade in on Page load
/--------------------------------------------------------------
--------------------------------------------------------------*/

@-webkit-keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fadeOut {
  opacity:1;
  -moz-animation   : fadin 1.5s ease;
  -webkit-animation: fadeout 1.5s ease;
  animation        : fadeout 1.5s ease;
}



/* Standards
/--------------------------------------------------------------
--------------------------------------------------------------*/

body {
	background-color:#fff;
	font-family: 'Aspekta-350', sans-serif;
	margin: 0 0;
	padding: 0 0;
	transition: all .15s linear;
}

#main-container {
	display:inline-block;
	width:96%;
	margin-left:2%;
	float:left;
	margin-top:0px;
}

div {
	margin: 0 0;
	padding: 0 0;
}

h1 {
	font-size: 26px;
    font-family: 'Aspekta-450', sans-serif;
    font-weight:normal;
    letter-spacing: -0.2px;
    margin:0 0;
    padding: 0 0;
    color: black;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-size: 22px;
    font-family: 'Aspekta-450', sans-serif;
    font-weight:normal;
    line-height: 124%;
    letter-spacing: -0.2px;
    margin:0 0;
    padding: 0 0;
    color: black;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

p {
	font-size: 18px;
    font-weight: normal;
    letter-spacing: -0.2px;
    line-height:130%;
    margin:0 0;
    padding: 0 0;
    color: black;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {
	width:100%;
	border-radius: 12px;
}

a {
	text-decoration: none;
	color: black;
	transition: all .15s linear;
}

a :hover {
	color:#A9A9A9;
	transition: all .15s linear;
}

a p {
	border-bottom: 1.4px solid black;
	padding-bottom: 2px;
}


p a:hover {
	color:#A9A9A9;
	transition: all .15s linear;
}

p a {
	border-bottom: 1.4px solid black;
	padding-bottom: 2px;
}



/* Slideshow
/*--------------------------------------------------------------
--------------------------------------------------------------*/

.slideshow-container {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-top:52px;
}

.slides {
    display: flex;
}

.slides img {
    width: 100%;
    height: auto;
}

.slideshow-container:hover .slides {
    animation-play-state: paused; /* Pausa o slideshow no hover */
}


/* Header
/*--------------------------------------------------------------
--------------------------------------------------------------*/

#header-box {
	float: left;
	margin:auto;
	width:100%;
	margin-top:80px;
}

#header-container {
	margin:auto;
	width:90%;
}

#header-column1 {
	float:left;
	width:31%;
	margin-right: 9%;
	margin-bottom:40px;
}

#header-column2 {
	float:left;
	width:27%;
	margin-left: 32%;
}

hr.solid {
	width:100%;
    border-top: 1.4px solid black	;
}



/* Info
/*--------------------------------------------------------------
--------------------------------------------------------------*/


#info-box {
	float: left;
	margin:auto;
	width:100%;
	margin-top: 60px;
}

#info-container {
	margin:auto;
	width:90%;
	height:200px;
}

.columns p {
	padding-bottom:20px;
}

.columns h2 {
	padding-bottom:20px;
}

#column-1 {
	float:left;
	width:31%;
}

#column-2 {
	float:left;
	width:27%;
	margin-left: 9%;
}

#column-3 {
	float:left;
	width:27%;
	margin-left:5%;
}


/* Footer
/*--------------------------------------------------------------
--------------------------------------------------------------*/

#footer {
	float: left;
	margin:auto;
	width:100%;
	margin-top:140px;
	margin-bottom:35px	;
}

#sitename {
	float:left;
}

#social {
	float:right;
}

ul {
	padding:0 0 0 0;
	margin:0 0 0 0;
}

ul li {
	display:inline-block;
	margin-left:50px;
}


/*--------------------------------------------------------------
--------------------------------------------------------------*/

@media (max-width: 1920px) {
}

@media (max-width: 1600px) {
.slideshow-container {width:72%}
#header-box {margin-top:40px}
}

@media (max-width: 1366px) {
.slideshow-container {margin-top:45px;}
}

@media (max-width: 1280px) {
.slideshow-container {margin-top:32px;}
#header-box {margin-top:36px}
#info-box {margin-top:40px;}
}

@media (max-width: 1024px) {
#main-container {width: 92%;margin-left: 4%;}
.slideshow-container {width:100%;}
#header-container {width:100%;}
#info-container {width:100%;}
#column-1 {width:65%; margin-right:10%; margin-bottom:40px;}
#column-2 {margin-left:0; width:46%;}
#column-3 {margin-left:8%; width:46%}
#header-column2 {width:28%;}
#header-column2 h2 {text-align:right;}
#footer {margin-top:100px; margin-bottom:25px;}
#header-column2 {width:35%; margin-left:25%;}
}

@media (max-width: 760px) {
#column-1 {width:100%; margin-bottom:30px;}
#column-2 {width:100%;margin-bottom:30px;}
#column-3 {width:100%; margin-left:0;}
#header-column2 {width:59%; margin-left:1%;}
.slideshow-container {margin-top:22px;}
#header-box {margin-top:26px;}
#header-column1 {margin-bottom:30px;}
#info-box {margin-top:30px;}
#footer {margin-top:50px;}
#sitename {display:none;}
#social {float:left;}
ul li {margin-left:0; margin-right:50px;}
a p {font-size:22px;}


@media (max-width: 500px) {
	
}