/* Fade in on Page load
/--------------------------------------------------------------
--------------------------------------------------------------*/

@-webkit-keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fadeOut {
  opacity:1;
  -moz-animation   : fadin 1.5s ease;
  -webkit-animation: fadeout 1.5s ease;
  animation        : fadeout 1.5s ease;
}


/* Standards
/--------------------------------------------------------------
--------------------------------------------------------------*/


body {
	background-color:#161616;
	font-family: 'Inter', sans-serif;
	margin: 0 0;
	padding: 0 0;
	transition: all .15s linear;
}

div {
	margin: 0 0;
	padding: 0 0;
}

p {
	font-size: 34px;
    font-weight: 300;
    line-height: 123%;
    letter-spacing: -1px;
    font-weight: 300;
    margin:0 0;
    padding: 0 0;
    color: white;
}

h1 {
	font-size: 13.5vw;
    font-weight: 600;
    letter-spacing: -8px;
    margin:0 0;
    padding: 0 0;
    color: white;
    text-transform: uppercase;
}

#bigline2 h1 {
	margin-top: -100px;
}

img {
	width:100%;
	border-radius: 22px;
}

a {
	text-decoration: none;
	color: #353330;
	transition: all .15s linear;
}

a :hover {
	color:#A9A9A9;
	transition: all .15s linear;
}

a p {
	border-bottom: 3px solid white;
	padding-bottom: 3px;
}

#main-container {
	display:inline-block;
	width:96%;
	margin-left:2%;
	float:left;
	margin-top:0px;
}

/*-------------------------------------------*/
/*-------------- COLUMNS --------------------*/
/*-------------------------------------------*/

.column {
	display:inline-block;
	width:32%;
	float:left;
}

.margin {
	margin-left:2%;
}

.column img {
	margin-bottom: 47px;
}

#n2 {
	margin-top:480px;
}

#n3 {
	margin-top:200px;
}

#short {
	color: white;
	display: inline-block;
	float: left;
	margin-left:24.9%;
	width:26%;
}

/*-------------------------------------------*/
/*-------------- INTRO ---------------------*/
/*-------------------------------------------*/

#intro {
	float: left;
	display: inline-block;
	margin-bottom: 100px;
	margin-top:-20px;
}

#bigline1 {
	float:left;
	display: inline-block;
}

#titles	{
	float: left;
	display: inline-block;
	margin-top:82px;
	margin-left: 6.3%;
}

#bigline2 {
	float: left;
	display: inline-block;
	width:55%;
	margin-left:45%;
}



/*-------------------------------------------*/
/*-------------- FIXED ELEMENTS ------------*/
/*-------------------------------------------*/

#right {
	position: fixed;
	margin-top: 62px;
	right: 2%;
}


/*-------------------------------------------*/
/*--------------- FOOTER --------------------*/
/*-------------------------------------------*/

#footer {
	width:100%;
	display:inline-block;
	float:left;
	margin-top:300px;
	margin-bottom:50px	;
}

#sitename {
	float:left;
}

#social {
	float:right;
}

ul {
	padding:0 0 0 0;
	margin:0 0 0 0;
}

ul li {
	display:inline-block;
	margin-left:50px;
}

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------- ABOUT PAGE -----------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

#description {
	display: inline-block;
	float: left;
	margin-left:57%;
	width:26%;
}


/*-------------------------------------------*/
/*-------------- MEDIA QUERIES -----------------*/
/*-------------------------------------------*/
.bg-lightmode {
    background-color:#f6ead6;
}

.h1-lightmode {
	color:#121215;
}

.p-lightmode {
	color:#121215;
	margin-bottom:5%;
}

a .p-lightmode {
	border-bottom-color:black;
}


/*-------------------------------------------*/
/*-------------- MEDIA QUERIES -----------------*/
/*-------------------------------------------*/

@media (max-width: 1920px) {
	p {font-size:30px;}
	#bigline2 {margin-left:42%;width:58%;}
	#short {width:34%;}
	#titles {margin-top:57px; margin-left:6.8%;}
	#right {margin-top:37px;}
	#description {margin-left:56.9%; width:31%;}
	#n2 {margin-top:330px;}
}

@media (max-width: 1600px) {
	p {font-size:28px;}
	#main-container {margin-top:0;}
	#bigline2 h1 {margin-top:-60px;}
	#titles {margin-top:46px; margin-left:7.7%;}
	#right {margin-top:25px;}
	#intro {margin-bottom:65px;}
	#n3 {margin-top:120px;}
	#n2 {margin-top:280px;}
	#short {margin-left:25.4%;}
	.column img {margin-bottom:40px;}
	#description {margin-left:57.5%; width:31%;}
}

@media (max-width: 1366px) {
	p {font-size:24px;}
	#titles {margin-left:7.3%; margin-top:40px;}
	#right {margin-top:22px;}
	#n2 {margin-top:200px;}
	#footer {margin-top:230px;}
	#short {margin-left:24.5%;}
	#description {margin-left:56.7%;}
}

@media (max-width: 1280px) {
	p {font-size:22px; letter-spacing:-1px;}
	#intro {margin-bottom:35px;}
	#n3 {margin-top:90px;}
	#short {margin-left:24%;}
	#description {margin-left:55.7%;}
}

@media (max-width: 1024px) {
	#intro {margin-top:0px;}
	p {font-size:18px;}
	#bigline2 h1 {margin-top:-33px;}
	.column img {margin-bottom:23px;}
	#titles {margin-left:8.5%; margin-top:30px;}
	#right {margin-top:30px;}
	#fotter {margin-top:100px; margin-bottom:25px;}
	#description {width:42%};
}


@media (max-width: 500px) {
	p {font-size:16px;}
	#short {display:none;}
	.column {width:100%;}
	h1 {letter-spacing:-1px; font-size:12.5vw;}
	#bigline2 h1 {margin-top:-15px;}
	#titles {margin-left:3%; margin-top:17px;}
	#n2 {margin-top:0px;}
	#n3 {margin-top:0px;}
	#right {margin-top:14px;}
	a p {border-bottom: 2px solid white; padding-bottom: 0px;}
	#footer {margin-top:20px; margin-bottom:15px;}
	.margin {margin-left:0%;}
	#intro {margin-top:4px;}
	#description {margin-left:1%;width:98%};
}



















