#Container .mix{
	display: none;
}

#Container {
	margin-bottom:40px;
}

body {
	max-width:1210px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

/********* TOP MENU ******/

#top-menu {
	display:inline-block;
	margin-top:10px;
	clear:right;
	float:right;
	margin-right:15px;
}

li {
	display:inline;
	margin-left:50px;
	font-family:Montserrat;
	font-size:14px;
	font-weight:400;
}

li a.actived-menu {
	color:#f68484;
	border-bottom:2px solid #f68484;

}

li.clickable a {
    color: #222;
}

li.clickable a:hover {
	cursor:pointer;
	color:#9f9f9f;
	transition: all .15s linear;
}


/*************************/

/********* HEADER ********/

#header {
	height:243px;
	width:100%;
	display:inline-block;
}

#avatar {
	margin:0 auto;
	display:block;
}


/************************/


/********* FILTER SYSTEM ********/

#filter-tab {
	margin-top:30px;
	display:inline-block;
	margin-left:15px;
}

.filter {
	display:inline-block;
	margin-right:60px;
}

h3 {
    color: #222;
    font-family: Montserrat;
    font-weight: 400;
    font-size:14px;
    text-transform: uppercase;
}

h3 a:hover {
	cursor:pointer;
	color:#9f9f9f;
	transition: all .15s linear;
}

.active > h3 {
	color:#f68484;
	border-bottom:2px solid #f68484;
}

.active > h3 a:hover {
	color:#f68484;
	border-bottom:2px solid #f68484;
}

/********************************/

/**** THUMBNAILS PROPERTIES ****/

.thumb {
	display: inline-block;
	margin-top:30px;
	margin-left:15px;
	margin-right:15px;
}

/* fix first raw margin-top */
.thumb:nth-child(1) {margin-top:20px;}
.thumb:nth-child(2) {margin-top:20px;}
.thumb:nth-child(3) {margin-top:20px;}
/* */

.thumb :hover {
	background-color:white;
	opacity:0.9;
	transition: all .15s linear;
}

.standard-size {
	max-width:370px;
}

.wide-size {
	max-width:775px;
}

.thumb-img {
	width:100%;
}

}

